apiVersion: apps/v1
kind: Deployment
metadata:
  name: listings-depl
spec:
  replicas: 1
  selector:
    matchLabels:
      app: listings
  template:
    metadata:
      labels:
        app: listings
    spec:
      containers:
        - name: listings
          image: nejmimouhsine1/listings-service
          env:
            - name: MONGO_URI
              value: 'mongodb://listings-mongo-srv:27017/listings'
            - name: ALLOWED_ORIGINS
              value: 'https://elevatex.dev'
---
apiVersion: v1
kind: Service
metadata:
  name: listings-srv
spec:
  selector:
    app: listings
  ports:
    - name: listings
      protocol: TCP
      port: 3002
      targetPort: 3002
